@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

@body-min-height: 2000px;
@body-padding-top: 70px;

body {
  background-color: @light-blue;
  min-height: @body-min-height;
  padding-top: @body-padding-top;
}

.logo {
  font-size: 35px;
}